/* make scrolling smooth */

html{
    scroll-behavior: smooth;
}

header{
    background: var(--background);
    text-align: center;
}

header h1{
    background-color: #ff6b61;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0%;
    width: 400px;
    padding: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #A8271E;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/
:root {
    --background: url("../img/head.jpg");
}
*, *::before, *::after {
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #A8271E;
}

/* add some padding back to rest of page */

main{
    padding: 2vw;
}

/* navbar */

.nav-toggle {
    display: none;
}

.nav-toggle-lable{
    color: #000;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 5px solid #000;

}

.nav-toggle-lable span, 
.nav-toggle-lable span::before,
.nav-toggle-lable span::after {
    display: block;
    background: #000;
    width: 2em;
    height: 3px;
    position: relative;
}

.nav-toggle-lable span::before,
.nav-toggle-lable span::after {
    content: '';
    position: absolute;
}

.nav-toggle-lable span::before{
    bottom: 7px;
}
.nav-toggle-lable span::after{
    top: 7px;
}

.navbar{
    background: linear-gradient(to left,#A8271E,#ff6b61);
    border-width: 10px ;
    border-style: solid;
    text-shadow: #000 0px 0px 5px;
    border-image: linear-gradient(to left, #ff6b61,#A8271E) 1;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    display: none;
}

.nav-toggle:checked ~ nav{
    display: block;
    display: flex;
    justify-content: center;
}


/* logo */

.logo{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
}

.logo img{
    height: 7vw;
    width: 7vw;
    padding-right: 0.5rem;
}

.logo h1{
    font-size: 1.2rem;
}

/* navigation list */


.navbar-links li{
    list-style: none;
    display: block;
    padding: 0.2em 0;
    
}

/*  
 style all a tags in header 
 and then on hover
*/
.navbar-links{
    display: flex;
    justify-content: center;
}

.navbar-links a{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: rgba(248, 50, 50, .25);
    font-size: 2rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;

}

.navbar-links a:hover,
.navbar-links a:focus{
    color: #fff;
    background-color: #A8271E;
    text-shadow: #fff 0px 0px 5px;
    border-radius: 10px;
    outline: none;
}

/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wrap 
*/

@media screen and (min-width: 60rem) {
    
    .navbar-links{
        display: flex;
        justify-content: space-between;
    }
    
    .navbar{
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar ul{
        display: flex;
        justify-content: space-between;
    }

}