 body{
    font-family: Roboto ;
    background: linear-gradient(#45F58D,#0da84d) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #a8271f

 }



 h1, h2, h3, h4, h5, h6{
    font-family: "Press Start 2P";
    font-size: 30pt;
    text-shadow: #fff 1px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 header{
    text-align: center;
 }

 /*Hero section*/

  #hero {
    font-family: "Press Start 2p";
    background: linear-gradient(to bottom,#45F58D,#0da84d);
    border-width: 10px ;
    border-style: solid;
    border-image: linear-gradient(to bottom, #0da84d,#45F58D) 1;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 #hero div{
   font-size: 2rem;
   text-shadow: #fff 1px 0 10px;

 }

 #hero img{
    width:300px;
 }

/*Bio Section*/

 #bio {
    font-family: "Pixelify Sans";
    text-align: center;
    background: linear-gradient(to left,#A8271E,#ff6b61);
    text-shadow: #fff 1px 0 20px;
    border-width: 10px ;
    border-style: solid;
    border-image: linear-gradient(to left, #ff6b61,#A8271E) 1;
    padding: 10px;
    margin-right: 10%;
    margin-left: 10%;
 }

/* Hobbies Section */

 #hobbies ul li{
   font-family: "Pixelify Sans";
   text-shadow: #fff 1px 0 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 0px;
   padding-right: 0px;
   font-size: 2rem;
   padding-right: 100px;
 }

#hobbies h1{
   margin: 1em;
}

 /* Gallery */
 
#gallery{
   border: 7px ridge #A8271E;
}

#gallery img{
   max-width: 100%;
}

#gallery figure{
   text-align: center;
   font-family: "Pixelify Sans";
   font-size: 20px;
   text-shadow: #0da84d 1px 0 20px;
   font-size: 2rem;
}

#gallery hr{
   display: block;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   margin-left: auto;
   margin-right: auto;
   border-style: inset;
   border-width: 4px;
   border-color: #A8271E;
}

#gallery h2{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 20%;
   margin-right: 20%;
}


/*Litarature*/

#lit{
   border: 7px groove #A8271E;
   margin-top: 10px;
   font-family: "Pixelify Sans";
   font-size: 20px;
}

#lit h2{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-left: 20%;
   padding-right: 20%;
}

#lit div{
   margin:0 auto;
   max-width: 40rem;
   padding: 2rem;
}

#lit div p:nth-child(-n+1):first-letter{
   color: #0da84d;
   clear: both;
   float: left;
   padding: 10px;
   font-size: 3rem;
   border: 5px groove #A8271E ;
   margin-right: 5px;
   background-color: #ff6b61;
   box-shadow: inset 5px 5px rgba(0,0,0,0.5) ;
   text-shadow: #000 1px 2px;
   line-height: .65;
}

#lit div p{
   text-shadow: #000 1px 1px; 
   background-color: rgba(255,255,255,0.4);
   background: blend mode 10px; ;
}

footer {
   font-family: "Press Start 2p";
   background-color: #0da84d;
   text-align: center;
   padding: 10px;
   text-shadow: #000 1px 0 10px;
   box-shadow: #000 1px 0 20px;
   margin-top: 20px;
}



@media screen and (min-width: 60em){
   figure{
      display: grid;
      grid-template-columns: 2fr 1fr;
   }

   figcaption{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 200%;
      margin-left: 1rem;
   }

}