 body{
    font-family: Roboto ;
    background: linear-gradient(#45F58D,#0da84d) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #a8271f

 }

 h1, h2, h3, h4, h5, h6{
    font-family: "Press Start 2P";
    font-size: 40pt;
    text-shadow: #000 1px 0 10px;
 }

 header{
    text-align: center;
 }

 #hero {
    font-family: "Press Start 2p";
    background: linear-gradient(to bottom,#45F58D,#0da84d);
    border-width: 10px ;
    border-style: solid;
    border-image: linear-gradient(to bottom, #0da84d,#45F58D) 1;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
 }

 #hero div{
   font-size: 2rem;
   text-shadow: #000 1px 0 10px;

 }

 #hero img{
    width:300px;
 }

 #bio {
    font-family: "Pixelify Sans";
    text-align: center;
    background: linear-gradient(to left,#A8271E,#ff6b61);
    text-shadow: #000 1px 0 10px;
    border-width: 10px ;
    border-style: solid;
    border-image: linear-gradient(to left, #ff6b61,#A8271E) 1;
    padding: 10px;
    margin-right: 10%;
    margin-left: 10%;
 }

 footer {
    font-family: "Press Start 2p";
    background-color: #0da84d;
    text-align: center;
    padding: 10px;
    text-shadow: #000 1px 0 10px;
    box-shadow: #000 1px 0 20px;
    margin-top: 20px;

 }

